body{
	background:#F8F8FC; 
	font-family: "Segoe UI",Arial,Verdana,sans-serif;
}

#wrapper{
	max-width: 1200px;
	margin:30px auto; overflow:hidden;
	padding:15px;
}

.title {
	font-size: 45px;
	float: left;
	height: 60px;
	text-align: left;
}

.title a.name, .title a:hover, .title a:focus, .title a:visited, .title a:active {
	text-decoration: none;
	color: #3B7BA6;
}

.title div {
	text-shadow: #E0E0E0 1px 1px 6px;
	font-size: 20pt;
	color: #3B7BA6;
	width: auto;
	font-family: "Segoe UI",Arial,Verdana,sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-left: -4px;
	margin: 0px 0 0 30px;
	padding: 0 0 0 30px;
}

#menu {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px 20px 0px 0px;
}

#menu li {
	display: inline;
	padding: 6px 10px;
	float: right;
}

#menu a:hover, #menu a:focus {
	color: #3B7BA6;
}

#menu a, #menu a:active {
	color: #777;
	text-decoration: none;
}

.navbar {
	font-size: 20px;
	font-weight: 700;
	float: right;
	height: 60px;
}

.navbar nav {
	padding: 14px 30px 0px 0;
}

.content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #EEEEEE;
	margin-bottom: 20px;
	padding: 0 30px 30px;
	margin: 61px auto;
	color: #4F4F4F;
}

 /*
  * List of Posts
  */

.post-list {
	padding:20px 30px 20px 30px; 
	font-size:13pt; 
}

.post-list ul {
	padding: 0;
}

.post-list .date { 
	color: #4F4F4F;
	float: right; 
}

.post-list li {
	border-bottom: 1px solid #EEEEEE;
	clear: both;
	margin: 0 0 3px 0;
	overflow: hidden;    
	padding: 6px 3px;
}

.post-list li a {
	float: left;
	text-decoration: none;
	color: #4F4F4F;
}

.post-list a, .post-list a:active {
	text-decoration: none;
}

.post-list a:hover, .post-list a:focus {
	color: #3B7BA6;
}

/*
 * Post
 */

.post {
	padding:20px 30px 20px 30px; 
	font-size:13pt; 
	line-height:1.6em;
}

.post .date { 
	color: #777777;
	font-size:11pt; 
	float: right; 
	margin-bottom: 5px;
}

.post h1, .post h2, .post h3, .post h4 {
	border-bottom: 1px solid #EFEFEF;
}

.post h2 {
	margin-bottom: 5px;
}

.post a, .post a:active, .post a:visited {
	text-decoration: none;
	color: #3B7BA6;
}

.post a:hover, .post a:focus {
	text-decoration: none;
	color: #3B7BA6;
}

.post pre {
	font-size:10pt; 
	line-height:1.0em;
}

.post article {
	clear: both;
}

.post pre {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #EEEEEE;
	padding: 10px 20px 10px;
	color: #4F4F4F;	
}

/*
 * Misc
 */

#missing {
	padding-top: 20px;
    text-align: center;
}