<div class="py-4 bg-dark">
  <div class="container">

    <div class="row">

      <div class="col-md-3 order-md-2 d-none d-sm-block">

          <div class="d-flex align-items-center justify-content-center h-100">
              <img src="{{"/img/ms.png" | relative_url }}" alt="{{ site.author }} avatar." style="width: 130px; height:130px; border: 3px solid #ffffff; margin:0 auto;" class="rounded-circle">
            </div>          
      </div>      

      <div class="col-md-9 text-center text-md-left">
        <div class="py-2 text-white">
          <h4><a class="text-white" href="{{"/" | relative_url }}">{{ site.author }}</a></h4>
          <p style="color: #bfbfbf" class="d-none d-sm-block">Software craftsman. Hooked on distributed systems. Proponent of simplicity. Bigger picture advocate.
          </p>
        </div>
        <div class="text-white">
          <a class="text-white" style="text-decoration: underline;" href="https://github.com/sakowiczm">GitHub</a> &nbsp;|&nbsp;
          <a class="text-white" style="text-decoration: underline;" href="https://www.linkedin.com/in/michalsakowicz">LinkedIn</a> &nbsp;|&nbsp;
          <a class="text-white" style="text-decoration: underline;" href="https://www.twitter.com/sakowiczm">Twitter</a> &nbsp;|&nbsp;
          <a class="text-white" style="text-decoration: underline;" href="{{"/feed.xml" | relative_url }}">RSS</a> &nbsp;|&nbsp;
          <a class="text-white" style="text-decoration: underline;" href="mailto:msakowicz.contact@gmail.com">Contact</a>
        </div>
      </div>

    </div>

  </div>
</div>